*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  background-color: hsl(218, 23%, 16%);
}


:root {
  font-size: 28px;
  font-weight: 800;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.advice-content {
  width: 538px;
  height: 331px;
  padding: 2em;
  background-color: hsl(217, 19%, 24%);
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5em;
}

h3 {
  font-size: 0.5em;
  letter-spacing: .2rem;
  color: hsl(150, 100%, 66%);
  background-color: inherit;
}

.advice {
  color: hsl(193, 38%, 86%);
  background-color: inherit;
}

.separator{
  color: hsl(193, 38%, 86%);
}

.quote-button{
  background: inherit;
  border: none;
}

.quote-button span, iconify-icon{
  background-color: hsl(150, 100%, 66%);
  border-radius: 100%;
  position: absolute;
  bottom: 30%;
  left: 48.5%;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
